<html>
<head>
    <link rel="stylesheet" href="../css/index.css">
    <script async src="../js/script.js"></script>
</head>
<body>
<div>
    <table id="userList">
        <tr>
            <th>id</th>
            <th>first name</th>
            <th>last name</th>
            <th>email</th>
            <th>password</th>
        </tr>
        {% for user in data %}
            <tr>
                <td>{{ user.id }} </td>
                <td>{{ user.firstName }} </td>
                <td>{{ user.lastName }} </td>
                <td> {{ user.email }}</td>
                <td>{{ user.password }}</td>
            </tr>
        {% endfor %}
    </table>
</div>

<div id="userCount">
    <strong>User count in database: {{ data.length }}</strong>
</div>

{#    <div>#}
{#        <input id="firstName" placeholder="firstName" type="text"/>#}
{#        <input id="lastName" placeholder="lastName" type="text"/>#}
{#        <input id="email" placeholder="email" type="text"/>#}
{#        <input id="password" placeholder="password" type="password"/>#}
{#        <button onclick="addUser()">Add user</button>#}
{#        <button onclick="resetDb()">Reset database</button>#}
{#    </div>#}

{#    </body>#}
{#    <script>#}
{#      const addUser = () => {#}
{#        let firstName = document.getElementById('firstName').value;#}
{#        let lastName = document.getElementById('lastName').value;#}
{#        let email = document.getElementById('email').value;#}
{#        let password = document.getElementById('password').value;#}
{#        let data = {#}
{#          user: {#}
{#            firstName,#}
{#            lastName,#}
{#            email,#}
{#            password#}
{#          }#}
{#        };#}
{#        // console.log(data);#}
{#        fetch('/addUser', {#}
{#          method: 'POST',#}
{#          headers: {#}
{#            'Content-Type': 'application/json'#}
{#          },#}
{#          body: JSON.stringify(data)#}
{#        })#}
{#          .then(res => res.json())#}
{#          .then(res => {#}
{#            console.log(res);#}
{#            const list = document.getElementById('userList');#}
{#            list.insertAdjacentHTML('beforeend', `<li><p>Hello, ${res.firstName} ${res.lastName}!</p><li>`);#}
{#          });#}

{#      };#}

{#      const resetDb = () => {#}
{#        fetch('/delete', {#}
{#          method: 'POST'#}
{#        })#}
{#          .then(() => {#}
{#            const list = document.getElementById('userList');#}
{#            document.getElementById('userCount').innerText = '';#}
{#            list.innerText = '';#}
{#          })#}
{#      }#}
{#    </script>#}
</body>
</html>
